<h1>Samples</h1>

<table class="table table-hover" id="samples">
  <thead>
    <tr>
    <th scope="col">Customer</th>
    <th scope="col">Request</th>
    <th scope="col">Code</th>
    <th scope="col">Detail</th>
    <th scope="col">Location</th>
    <th scope="col">Plant</th>
    <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @samples %>
  </tbody>
</table>

<%= link_to "New sample", new_sample_path, class: "btn btn-primary" %>