<h1>Editing om</h1>

<%= render "form", om: @om %>

<br>

<div>
  <%= link_to "Show this om", @om, class: "btn btn-success" %>
  <%= link_to "Back to oms", oms_path, class: "btn btn-light" %>
</div>