<h1>Oms</h1>

<table class="table table-hover" id="oms">
  <thead class="table-primary">    
    <tr>
    <th scope="col">Sample</th>
    <th scope="col">Weight</th>
    <th scope="col">K2cro7 v1</th>
    <th scope="col">K2cro7 n1</th>
    <th scope="col">Feso4 1</th>
    <th scope="col">Feso4 2</th>
    <th scope="col">Feso4 3</th>
    <th scope="col">Feso4 n2</th>
    <th scope="col">Oc</th>
    <th scope="col">Om</th>
    <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @oms %>
  </tbody>
</table>

<%= link_to "New om", new_om_path, class: "btn btn-primary" %>