<h1>Editing ph</h1>

<%= render "form", ph: @ph %>

<br>

<div>
  <%= link_to "Show this ph", @ph, class: "btn btn-success" %>
  <%= link_to "Back to phs", phs_path, class: "btn btn-light" %>
</div>