<h1>pH</h1>

<table class="table table-hover" id="phs">
  <thead class="table-primary">    
    <tr>
    <th scope="col">#</th>
    <th scope="col">Sample</th>
    <th scope="col">Weight (g)</th>
    <th scope="col">OR (mL)</th>
    <th scope="col">Ph1</th>
    <th scope="col">Ph2</th>
    <th scope="col">Ph3</th>
    <th scope="col">Avg</th>
    <th scope="col">Level</th>
    <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @phs %>
  </tbody>
</table>

<%= link_to "New ph", new_ph_path, class: "btn btn-primary" %>