<h1>Customers</h1>

<table class="table table-hover" id="customers">
  <thead>
    <tr>
    <th scope="col">Name</th>
    <th scope="col">Tel</th>
    <th scope="col">Address</th>
    <th scope="col">Remark</th>
    <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @customers %>
  </tbody>
</table>

<%= link_to "New customer", new_customer_path, class: "btn btn-primary" %>