<h1>Customers</h1>

<table class="table table-hover" id="customers">
  <thead class="table-primary">
    <tr>
    <th scope="col">#</th>
    <th scope="col">Customer</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Remark</th>
    <th scope="col">Requests</th>
    <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @customers %>
  </tbody>
</table>

<%= paginate @customers %>

<%= link_to "New customer", new_customer_path, class: "btn btn-primary" %>