<div class="row">
    <div class="column-header left-header"><article><b>รายงานผลการวิเคราะห์ดิน</b></article></div>
    <div class="column-header right-header"><article style="text-align: end;"><b>รายงานเลขที่ </b><%= @request.code %></article></div>
</div>
<div class="row">
    <div class="column-header left-header"><article><b>คณะเทคโนโลยีการเกษตร มหาวิทยาลัยแห่งหนึ่ง</b></article></div>
    <div class="column-header right-header"><article style="text-align: end;"><b>เลขที่ใบเสร็จ </b><%= @request.receipt %></article></div>
</div>
<div class="row">
    <div class="column-header left-header"><article><b>SOIL ANALYSIS REPORT</b></article></div>
    <div class="column-header right-header"><article style="text-align: end;"><b>วันที่รับตัวอย่าง </b><%= @request.receive %></article></div>
</div>
<div class="row">
    <div class="column-header left-header"><article><b>FACULTY OF AGRICULTURAL TECHNOLOGY UNIVERSITY</b></article></div>
    <div class="column-header right-header"><article style="text-align: end;"><b>วันที่รับผลวิเคราะห์ </b><%= @request.analyzed %></article></div>
</div>
<div class="row">
    <div class="column-header right-header"><article><b>Tel. 123456789</b></article></div>
</div>
<hr>