<div class="row">
        <div class="column"><article>รายงานผลการวิเคราะห์ดิน</article></div>
        <div class="column"><article style="text-align: end;">รายงานเลขที่ <%= @request.code %></article></div>
</div>
<div class="row">
    <div class="column"><article>คณะเทคโนโลยีการเกษตร มหาวิทยาลัยแห่งหนึ่ง</article>    </div>
    <div class="column"><article style="text-align: end;">เลขที่ใบเสร็จ <%= @request.code %></article></div>
</div>
<div class="row">
    <div class="column"><article>SOIL ANALYSIS REPORT</article></div>
    <div class="column"><article style="text-align: end;">วันที่รับตัวอย่าง <%= @request.receive %></article></div>
</div>
<div class="row">
    <div class="column"><article>FACULTY OF AGRICULTURAL TECHNOLOGY UNIVERSITY</article></div>
    <div class="column"><article style="text-align: end;">วันที่รับผลวิเคราะห์ <%= @request.receive %></article></div>
</div>
<div class="row">
    <div class="column"><article>Tel. 123456789</article></div>
</div>
<hr>