<div class="row">
    <div class="column" style="text-align: center;"><article><b>ตรวจสอบโดย</b></article></div>
    <div class="column" style="text-align: center;"><article><b><article>อนุมัติโดย</b></article></div>
</div>
<div class="row">
    <div class="column" style="text-align: center;"><article>(ผู้ช่วยศาสตราจารย์ ดร. สุทิศา ชัยกุล)</article></div>
    <div class="column" style="text-align: center;"><article>(ผู้ช่วยศาสตราจารย์ ดร. เลิศชัย จิตร์อารี)</article></div>
</div>
<div class="row">
    <div class="column" style="text-align: center;"><article>ผู้รับผิดชอบโครงการ</b></article></div>
    <div class="column" style="text-align: center;"><article>คณบดีคณะเทคโนโลยีการเกษตร</article></div>
</div>