<div class="row">    
    <div class="column"><article><b>ชื่อผู้ส่งตัวอย่างดิน : </b><%= @request.customer.name %></article></div>
    <div class="column"></p></div>
</div>
<div class="row">    
    <div class="column"><article><b>สถานที่เก็บตัวอย่างดิน : </b><%= @request.customer.address %></article></div>
    <div class="column"></p></div>
</div>
<div class="row">    
    <div class="column"><article><b>โทรศัพท์ : </b><%= @request.customer.phone %></article></div>
    <div class="column"></p></div>
</div>