<h1>Editing request</h1>

<%= render "form", request: @request %>

<br>

<div>
  <%= link_to "Show this request", @request, class: "btn btn-success btn-sm" %> |
  <%= link_to "Back to requests", requests_path, class: "btn btn-light btn-sm" %>
</div>