<h1>Editing lime</h1>

<%= render "form", lime: @lime %>

<br>

<div>
  <%= link_to "Show this lime", @lime, class: "btn btn-success" %>
  <%= link_to "Back to limes", limes_path, class: "btn btn-light" %>
</div>